*{
    margin: 0;
    padding: 0;
}

body{
    background:darkturquoise;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
}

.container > div ,
.container .header,
.container .sidebar,
.container .contenido,
.container .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.container .header{
    background: #12203E;
    color: #fff;
    grid-column-start:1;
    grid-column-end: -1; /* puede ser el numero de colums o si no sabes -1 */

}

.container .contenido{
    grid-column: span 2;
}

.container .sidebar {
    grid-column: 3 / 4;
    background: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-row: span 2; /* 2/4 o tammbien span 2  */
}
.container .widget-1 ,
.container .widget-2 {
    background:#55a8fd ;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .footer{
    background: #12203E ;
    color: #fff;
    grid-column:span 3 ;
}

@media screen and (max-width : 760px){
   .container .contenido{
       grid-column: 1 / -1;
   }
   .container .sidebar{
    grid-column: 1 / -1;  
   }

   .container .widget-1{
       grid-column: span 2;
   }

   
}

